<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXFXPgdggNt1qe0ll0S_sTXM-rqW0uMXA</string>
	<key>GCM_SENDER_ID</key>
	<string>820883685818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>main.JustChat</string>
	<key>PROJECT_ID</key>
	<string>justchat-44b23</string>
	<key>STORAGE_BUCKET</key>
	<string>justchat-44b23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820883685818:ios:04a423a031b4fac894dd83</string>
</dict>
</plist>